body {
    font-family: Arial;
    background-color: #f4f4f4;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: gray;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

main {
    padding: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}